.text-footer {
    line-height: 1.9;
  }
  
  .text-footer-1 {
    text-align: left;
  }
  
  .text-footer-3,
  .text-footer-4 {
    line-height: 1.9;
  }
  
  .follow-icons .icon {
    margin-right: 10px;
  }
  